    <!--Deal4Share-screen-->
        <div id="Deal4share-screen" data-role="view" data-title="Post?">   
                   <header data-role="header">
                   <div data-role="navbar">
                   Post a Deal 4 Share
                    <a data-role="backbutton" data-align="left" class="bck-btn-search">back</a>
                    </div>
                    </header> 
            <ul id="deal4shareListView" data-role="listview" data-style="inset" data-type="group">
              
                <li style="background-color:#5490CC;color:white;">
                    Select Store Around you or search for one
                    <ul>
                        <li style="color:black;">
                        <input style="height:30px;width:90%;border:1px solidblack;flex-wrap:wrap;" type="search" placeholder="Search" data-icon="search"/>
                        </li>
                        <li style="color:black;"><a href="views/BestBuy-Screen.html">Best buy</a></li>
                         <li style="color:black;"><a>Wall Mart</a></li>
                        <li style="color:black;"><a>The Source</a></li>
                        <li style="color:black;"><a>Star Bucks</a></li>
                    </ul>
                </li>
            </ul>
                <!-- footer -->
               <div data-role="footer">
                            <!-- tabstrip -->
                                <div data-role="tabstrip">
                                    <a style="color:black;" href="index.html" data-icon="search">Home</a>

                                     <a style="color:black;" href="views/Post-Option-Sreen.html"><i style="color:black;" class="fa fa-map-marker fa-3x"></i><br/>Post</a>
                                    <a style="color:black;" href="views/map.html"><i style="color:black;" class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
                                    <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;" class="fa fa-star-o fa-3x"></i><br/>favorite</a>
                                    <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
                                </div>
                            </div>
            </div>
        </div>