   <!--Favorite-screen-->
      <div id="favorite-screen" data-role="view" data-title="Favorite">   
                 <div data-role="header">
                 <div data-role="navbar">
                 Favorites
                  <a data-role="backbutton" data-align="left" class="bck-btn-search">back</a>
                  </div>
                  </div> 

                     <!-- footer -->
             <div data-role="footer">
                          <!-- tabstrip -->
                              <div data-role="tabstrip">
                                  <a style="color:black;" href="index.html" data-icon="search">Home</a>

                                   <a style="color:black;" href="views/Post-Option-Sreen.html"><i style="color:black;" class="fa fa-map-marker fa-3x"></i><br/>Post</a>
                                  <a style="color:black;" href="views/map.html"><i style="color:black;" class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
                                  <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;" class="fa fa-star-o fa-3x"></i><br/>favorite</a>
                                  <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
                              </div>
                          </div>
      </div>