     
   <!--locationSearch-screen-->
      <div id="locationSearch-screen" data-role="view" data-title="Location-Seacrh">   
                 <div data-role="header">
                  <div style="color:black;" data-role="navbar">
              Location
          <a style="color:black;" class="nav-button-bck search" data-align="left" data-role="backbutton">Search</a>
          </div>
          </div>  
          <ul id="locationListView" data-role="listview" data-style="inset" data-type="group">
             
             <li style="background-color:#5490CC;color:white;">
                  Select Location
                  <ul>
                      <li style="color:black;"><a>Use Current Location</a></li>
                       <li style="color:black;"><a href="views/map.html">Current Location</a></li>
                      <li style="background-color:#5490CC;color:white;"><a>Recent Location</a></li>
                     
                  </ul>
              </li>

          </ul>
            <!-- footer -->
             <div data-role="footer">
                          <!-- tabstrip -->
                              <div data-role="tabstrip">
                                  <a style="color:black;" href="index.html" data-icon="search">Home</a>

                                   <a style="color:black;" href="views/Post-Option-Sreen.html"><i style="color:black;" class="fa fa-map-marker fa-3x"></i><br/>Post</a>
                                  <a style="color:black;" href="views/map.html"><i style="color:black;" class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
                                  <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;" class="fa fa-star-o fa-3x"></i><br/>favorite</a>
                                  <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
                              </div>
                          </div>
      </div>