    <!--Post-Option-screen-->
        <div id="Post-screen" data-role="view" data-title="Post">   
                   <header data-role="header">
                   <div data-role="navbar">
                   Post?
                    <a data-role="backbutton" data-align="left" class="bck-btn-search">back</a>
                    </div>
                    </header> 
            <ul id="postListView" data-role="listview" data-style="inset" data-type="group">
              
                <li style="background-color:#5490CC;color:white;">
                    Select options
                    <ul>
                        <li style="color:black;"><a href="views/Deal4share-Screen.html">Deal4Share</a></li>
                         <li style="color:black;"><a href="#Splitdeal-screen">SplitDeal</a></li>
                        <li style="color:black;"><a>Classified</a></li>
                    </ul>
                </li>
            <!-- footer -->
               <div data-role="footer">
                            <!-- tabstrip -->
                                <div data-role="tabstrip">
                                    <a style="color:black;" href="index.html" data-icon="search">Home</a>

                                     <a style="color:black;" href="views/Post-Option-Sreen.html"><i style="color:black;" class="fa fa-map-marker fa-3x"></i><br/>Post</a>
                                    <a style="color:black;" href="views/map.html"><i style="color:black;" class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
                                    <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;" class="fa fa-star-o fa-3x"></i><br/>favorite</a>
                                    <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
                                </div>
                            </div>
            </div>
        </div>