<!--search-screen-->
    <div id="search-screen" data-role="view" data-title="Your watch" data-layout="default">   
    <header data-role="header">
            
                <a data-role="backbutton" class="bck-btn-signup">back</a>
        
    </header>  
        <ul id="searchListView" data-role="listview" data-style="inset" data-type="group">

           
            <li style="background-color:#5490CC;color:white;">
                Select options
                <ul>
                    <li style="color:black;"><a>Type</a></li>
                     <li style="color:black;"><a href="Location-Search.html">Location</a></li>
                    <li style="color:black;"><a href="views/Category-Search.html">Category</a></li>
                   <li style="background-color:#4EB848;color:white;">
                    <a href="Watch-List.html" data-align="right">Search</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;
                   

                    <a href="views/Refine-Search.html" data-align="left">Reset</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

